/* Estilo para toda la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Considera cambiar esto */
}

/* Contenedor principal */
.container {
    text-align: center;
    padding: 20px;
}

/* Estilo del título */
h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Estilos del mapa */
#map {
    height: 300px; /* Valor por defecto para pantallas pequeñas */
    width: 80%; /* Valor por defecto para pantallas pequeñas */
    border: 2px solid #0077cc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 500px) {
    #map {
        height: 400px;
        width: 90%;
        max-width: 600px;
    }
}

/* Información del marcador seleccionado */
.infoMarkerSelected {
    margin-top: 20px;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #555;
}

/* Texto en infoMarkerSelected */
.infoMarkerSelected p {
    margin: 0;
    font-size: 1rem;
    color: #444;
}

/* Agregar ícono a los marcadores */
.leaflet-marker-icon {
    color: #0077cc;
    font-size: 1.2rem;
}

/* Animaciones */
#map, .infoMarkerSelected {
    transition: all 0.3s ease-in-out;
}

#map:hover {
    transform: scale(1.02);
}

.infoMarkerSelected:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.custom-icon {
    font-size: 24px; /* Cambia el tamaño del ícono */
    text-align: center;
}

h1 i {
    color: #0077cc; /* Color del ícono de Font Awesome */
    margin-right: 8px;
}

.highlight {
    color: #0077cc; /* Color para destacar la letra "A" */
    font-size: 1.3em;
    font-weight: bold;
}
.leaflet-control-attribution{
    visibility: hidden;
}